/* ContactStyles.css */

.contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #003366; /* Dark Navy Blue background */
    color: #f5f5f5; /* White text color */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}
  
.sectionTitle {
    color: #f5f5f5; /* White color for the section title */
}
  
form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Reduced gap */
    margin: auto; /* Center form horizontally */
}
  
textarea,
input:not([type='submit']) {
    height: 40px; /* Reduced height */
    padding-left: 10px; /* Adjust padding */
    width: 250px;
    border-radius: 20px;
    border: #888 1px solid;
    box-sizing: border-box;
    background-color: #fff; /* White background for inputs */
    color: #333; /* Dark grey text color for inputs */
}
  
textarea {
    padding-top: 10px; /* Adjust padding */
    resize: none;
    height: 200px; /* Reduced height */
}
  
.submit-btn {
    background-color: #00509e; /* Dark Blue color for the button */
    color: #fff; /* White text color for the button */
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 40px; /* Reduced height */
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    margin: auto; /* Center button horizontally */
}