/* App.css */

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 10; /* Set padding to zero for uniformity */
}

h1, h2 {
  color: #333;
}

p {
  color: #555;
}
